.vs/
.vscode/
.idea/

bin/
obj/
.obj/
**/bin/
**/obj/

*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

TestResults/
*.nupkg
*.snupkg
NuGet.local.Config
src/WorkflowRuntime.WindowsService/

*.log
*.tmp
*.bak
