<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-workflow" value="https://nuget.pkg.github.com/LeiZhou-Dip-Ing/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="github-workflow">
      <package pattern="WorkflowCore" />
      <package pattern="WorkflowDesigner.*" />
      <package pattern="WorkflowRuntime.*" />
      <package pattern="WorkflowSdk" />
      <package pattern="WorkflowWpfSdk" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="AvalonEdit" />
      <package pattern="Dirkster.*" />
      <package pattern="Microsoft.*" />
      <package pattern="OpenCvSharp4" />
      <package pattern="Prism.*" />
      <package pattern="SharpVectors.*" />
      <package pattern="System.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
